Source: gdal
Version: 2.3.0-1
Description: The Geographic Data Abstraction Library for reading and writing geospatial raster and vector data.
Build-Depends: proj, libpng, expat, tiff[lzw], liblzma

Feature: geos
Description: Geometry Engine support
Build-Depends: geos

Feature: jpeg
Description: Jpeg support
Build-Depends: libjpeg-turbo

Feature: gif
Description: Gif support
Build-Depends: giflib

Feature: sqlite
Description: Sqlite support
Build-Depends: sqlite3

Feature: tools
Description: Also include the gdal tools
